## List Comrehension
###### square a list items and s another list

In [1]:
list_1 = [2, 3, 4, 5]
new_list = [element ** 2 for element in list_1]
print(new_list)

[4, 9, 16, 25]

###### Square only even elements

In [2]:
list_2 = [1, 2, 3, 4, 5, 6, 7]
new_list_2 = [element ** 2 for element in list_2 if element % 2 == 0]
print(new_list_2)

[4, 16, 36]

###### square only those elements which are divisible by two or three

In [3]:
list_3 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_list_3 = [ele ** 2 for ele in list_3 if ele % 2 == 0 or ele % 3 == 0]
print(new_list_3)

[4, 9, 16, 36, 64, 81]

###### square only those elements which are divisible by two and three

In [4]:
list_4 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_list_4 = [ele ** 2 for ele in list_4 if ele % 2 == 0 and ele % 3 == 0]
print(new_list_4)

[36]

###### print only those which are common in both list

In [5]:
list_5 = [1, 2, 3, 4, 5, 6, 7]
list_6 = [2, 4, 3, 7, 8, 0]
new_list_5 = [ele for ele in list_5 for ele_1 in list_6 if ele == ele_1]
print(new_list_5)

[2, 3, 4, 7]

###### print only those which are common in both list (alternate)

In [7]:
list_7 = [1, 2, 3, 4, 5, 6, 7]
list_8 = [2, 4, 3, 7, 8, 0]
new_list_7 = [ele for ele in list_7 if ele in list_8]
print(new_list_7)

[2, 3, 4, 7]

###### print all elements in new list and if element is divisible by 2 then square it

In [8]:
list_9 = [1, 2, 3, 4, 5, 6, 7, 8]
new_list_9 = [ele ** 2 if ele % 2 == 0 else ele for ele in list_9]
print(new_list_9)

[1, 4, 3, 16, 5, 36, 7, 64]

###### create a list of charecter from given string

In [9]:
string_1 = "something"
new_string_1 = [s for s in string_1]
print(new_string_1)

['s', 'o', 'm', 'e', 't', 'h', 'i', 'n', 'g']

###### generate 2D list from a given list of strings (2D list is basically list in side list)

In [11]:
string_2 = ["something", "is", "about", "to", "happen"]
new_string_3 = [[first_chars for first_chars in first] for first in string_2]
print(new_string_3)

[['s', 'o', 'm', 'e', 't', 'h', 'i', 'n', 'g'], ['i', 's'], ['a', 'b', 'o', 'u', 't'], ['t', 'o'], ['h', 'a', 'p', 'p', 'e', 'n']]

###### take input of 2 dimensional list

In [14]:
input_in_string = input().split() # gives me ["n", "m"]
row_in_number, col_in_number = int(input_in_string[0]), int(input_in_string[1])
new_2D_1 = [[int(j) for j in input().split()] for i in range(row_in_number)]
print(new_2D_1)

4 5
2 3 4 5 6
6 8 9 1 6
1 2 3 4 5
9 0 7 5 3
[[2, 3, 4, 5, 6], [6, 8, 9, 1, 6], [1, 2, 3, 4, 5], [9, 0, 7, 5, 3]]

###### test with string

In [15]:
string = input().split()
n, m = int(string[0]), int(string[1])
new_2D_2 = [[j for j in input().split()] for i in range(n)]
print(new_2D_2)

2 3
robi sebas roy
sebas robi roy
[['robi', 'sebas', 'roy'], ['sebas', 'robi', 'roy']]

In [16]:
string = input().split()
n, m = int(string[0]), int(string[0])
new_2D_3 = [[j for j in input().split()] for i in range(n)]
print(new_2D_3)

3 3
s e b
r o b
r oy
[['s', 'e', 'b'], ['r', 'o', 'b'], ['r', 'oy']]

###### jagged list input (jagged list is where columns of list may not be same)

In [17]:
row = int(input())
new_2D_4 = [[j for j in input().split()] for i in range(row)]
print(new_2D_4)

4
3 7 4 2 1 4 7
2 6 8
1 2
7 9 4 2 6 9 3 2 1 0
[['3', '7', '4', '2', '1', '4', '7'], ['2', '6', '8'], ['1', '2'], ['7', '9', '4', '2', '6', '9', '3', '2', '1', '0']]

###### jagged list input in string

In [18]:
row_1 = int(input())
new_2D_5 = [[j for j in input().split()] for i in range(row_1)]
print(new_2D_5)

3
robi00 robi01 robi02 robi03 robi04
robi10 robi11 robi12 robi13 robi14 robi14 robi15
robi rob ro
[['robi00', 'robi01', 'robi02', 'robi03', 'robi04'], ['robi10', 'robi11', 'robi12', 'robi13', 'robi14', 'robi14', 'robi15'], ['robi', 'rob', 'ro']]

###### if row, column is given in one line and second line represents all elements of 2D list? and asked to create 2D list from it

In [19]:
string = input().split()
n, m = int(string[0]), int(string[1])
values = input().split()
new_2D_6 = [[int(values[m*i+j]) for j in range(m)] for i in range(n)]
print(new_2D_6)

3 4
1 2 3 4 5 6 7 8 9 10 11 12
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [21]:
string_7 = input().split()
row, col = int(string[0]), int(string[1])
values_1 = input().split() # even if you give extra values it will take how much row and column is assign
new_2D_7 = [[int(values_1[col * i + j]) for j in range(col)] for i in range(row)]
print(new_2D_7)

3 4
1 2 3 4 5 6 7 8 9 10 12 13 14 15
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 12, 13]]

###### now if row col and values are given in the same one line input and asked to create list from it

In [22]:
string_8 = input().split()
row, col = int(string_8[0]), int(string_8[1])
values_2 = string_8[2:] #basically extracting all values starting from second index because first 2's are row and col
new_2D_8 = [[int(values_2[col * i + j]) for j in range(col)] for i in range(row)]
print(new_2D_8)

3 3 1 2 3 4 5 6 7 8 9 10 11 12 13
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

###### if row, column is given in one line and second line represents all elements of 2D list? and asked to create 2D list from it (in case string)

In [24]:
string_9 = input().split()
row, col = int(string_9[0]), int(string_9[1])
values_3 = input().split()
new_2D_9 = [[values_3[col * i + j] for j in range(col)] for i in range(row)]
print(new_2D_9)

3 4
what would you like to take for snack please order something? Ok. do you have menu card?
[['what', 'would', 'you', 'like'], ['to', 'take', 'for', 'snack'], ['please', 'order', 'something?', 'Ok.']]

###### now if row col and values are given in the same one line input and asked to create list from it (in case of string)

In [25]:
string_10 = input().split()
row, col = int(string_10[0]), int(string_10[1])
values_10 = string_10[2:]
new_2D_10 = [[values_10[col * i + j] for j in range(col)] for i in range(row)]
print(new_2D_10)

3 4 technology is awesome! world is running after this. this has potential to change the world
[['technology', 'is', 'awesome!', 'world'], ['is', 'running', 'after', 'this.'], ['this', 'has', 'potential', 'to']]

###### take 2D list inpiut and traverse eaach values and print

In [27]:
string_11 = input().split()
row, col = int(string_11[0]), int(string_11[1])
values_11 = string_11[2:]
new_2D_11 = [[int(values_11[col * i + j]) for j in range(col)] for i in range(row)]
# traverse
# we alredy know row and column
for i in range(row):
    for j in range(col):
        print(new_2D_11[i][j])
    print()

3 3 1 2 3 4 5 6 7 8 9
1
2
3

4
5
6

7
8
9

###### take 2D list inpiut and traverse eaach values and print one row in one line and second in second...

In [30]:
string_12 = input().split()
row, col = int(string_12[0]), int(string_12[1])
values_12 = string_12[2:]
new_2D_12 = [[int(values_12[col * i + j]) for j in range(col)] for i in range(row)]
#traverse
# row and col values are given
for i in range(row):
    for j in range(col):
        print(new_2D_12[i][j], end=" ")
    print()

3 4 1 2 3 4 5 6 7 8 9 10 11 12 13 14
1 2 3 4
5 6 7 8
9 10 11 12

###### take 2D list input which is jagged list and travarse list, print valus

In [34]:
row = int(input())
new_2D_13 = [[int(j) for j in input().split()] for i in range(row)]
print("simple print: ", new_2D_13)
print("print after travarse: ")
for i in new_2D_13:
    for j in i:   # as we know, col of jagged list is now known
        print(j, end=" ")
    print()

3
2 3 4 5 6 7
1 2 4
1 5 8 2
simple print:  [[2, 3, 4, 5, 6, 7], [1, 2, 4], [1, 5, 8, 2]]
print after travarse:
2 3 4 5 6 7
1 2 4
1 5 8 2

###### take input in 2D list and print another list, where every element appending xy at the end of it

In [37]:
string_14 = input().split()
row, col = int(string_14[0]), int(string_14[1])
values_14 = string_14[2:]
new_2D_14 = [[int(values_14[col * i + j]) for j in range(col)] for i in range(row)]
print("simple print: ", new_2D_14)
# travarse
for i in new_2D_14:
    new_1D_14 = "xy ".join([str(elem) for elem in i])
    print(new_1D_14)

3 3 1 2 3 4 5 6 7 8 9 10 11 12
simple print:  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
1xy 2xy 3
4xy 5xy 6
7xy 8xy 9

###### list is given print all the elements by column wise

In [38]:
li=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
for j in range(4):
    for ele in li:
        print(ele[j],end = " ")

1 5 9 2 6 10 3 7 11 4 8 12